.user-panel {
    position: relative;
    cursor: pointer;
}

.user-links {
    position: absolute;
    z-index: 10;
    background-color: #d3d3d3;
    min-width: 175px;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease;
}

.user-panel:hover {
    color: #fff;
}

.user-panel:hover .user-links {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}