.user-panel {
    width: 0%;
    background-color: #1e90ff;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: width 0.3s ease-out;
    left: 0;
    height: auto;
}

.user-panel:hover {
    width: 20%;
    transition: width 0.3s ease-in-out;
}