table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

thead {
    background-color: #4a00e0;
    color: #fff;
}

tbody td p {
    cursor: pointer;
}

tbody td p:hover {
    background-color: #d3d3d3;
}

.contenedor-acciones {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-items: center;

    width: 100%;
}