.producto {
    border: 1px solid #d3d3d3; 
    border-radius: 10px;
    padding: 15px;
    width: 22rem;
    height: 550px;
    background: linear-gradient(270deg, #e0e0e0, #b8b8b8);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.producto img
{
    width: 200px;
    height: 200px;
}
