.catalogo-container {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

.contenedor-productos {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.contenedor-filtros {
    display: flex;
    flex: 1;
    height: 250px;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;

    border-radius: 10px;
    background: linear-gradient(135deg, red, blue);
}

.producto-agotado {
    color: red;
}

.contenedor-marcas, .contenedor-categorias{
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, blue, red);

    max-height: 120px;
    overflow-y: auto;

    border-radius: 10px;
    padding: 5px;
}