.catalogo-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contenedor-productos {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.contenedor-filtros {
    display: flex;

    justify-content: center;

    border-radius: 10px;
    background-color: #d3d3d3;
}

.producto-agotado {
    color: red;
}