main {
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex: 1;
}

.outlet-container {
    padding: 20px;
    text-align: center;
    background-color: aqua;
}