main {
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.outlet-container {
    padding: 20px;
    text-align: center;
    background-color: #1e90ff;
}