header {
    background: #1e90ff;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
}

/* Grid */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;

    justify-content: center;
    align-items: center;
}

.izquierda {
    grid-column-start: 1;
    grid-row-start: 1;
}

.central {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 1;
}

.derecha {
    grid-column-start: 5;
    grid-row-start: 1;
}
/* -- */