header {
    background: #1e90ff;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #000;

    top: 0px;
    position: sticky;

    width: 100%;
    box-sizing: border-box;
    max-height: 125px;
}

/* Grid */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;

    justify-content: center;
    align-items: center;
}

.izquierda {
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    grid-column-start: 1;
    grid-row-start: 1;
}

.central {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 1;
}

.derecha {
    grid-column-start: 5;
    grid-row-start: 1;
}
/* -- */