.contacto table {
    margin: auto;
    border-collapse: collapse;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.contacto td {
    padding: 10px;
}

.contacto input, 
.contacto textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 5px;
}