.contenedor-tabla{
margin: auto;
background-color: rgb(255, 255, 255);
border-radius: 0px 0px 10px 10px;
}
.contenedor-logo{
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0 0;
}
.contacto{
    gap: 0.1px;
    display: flex;
    flex-direction: column;
}