.codigo, .cuerpo {
    height: 100%;
    margin: 0;
    display: flex;      
    flex-direction: column;
    background: #000;
    font-family: 'Roboto', sans-serif;
}

.titulo1 {
    font-family: 'Orbitron', sans-serif !important;
}

.titulo3 {
    font-family: 'Orbitron', sans-serif !important;
}

.parrafo {
    font-family: 'Roboto', sans-serif !important;
}

.texto-principal {
    color: #fff !important;
}

.texto-secundario {
    color: #d3d3d3 !important;
}

.principal {
    flex: 1;
    display: flex;
    margin-bottom: 0.5rem;
}

section {
    display: flex;           
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 15px;
    margin: 5px;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 8px;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 30%;
}