.home-container {
    display: flex;
    flex-direction: row;
    flex: 1;

    align-items: center;
    justify-items: center;

    gap: 5px;
    padding: 5px;
}

/* boton */
.btn {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid #fff;
    background: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: transparent;
    color: #fff;
}

.destacados {
    width: 50%;
    min-height: 300px;
    border: 2px solid black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.destacados img {
    max-width: 100%;
    max-height: 280px;
    object-fit: contain;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
}

.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
}
