.destacados, .blogs {
    display: flex;
    width: 100%;
    min-height: 300px;
    border: 2px solid black;
    background: white;
    border-radius: 8px;

    align-items: center;
    justify-content: center;
}

.destacados img, .blogs-container img {
    max-width: 100%;
    max-height: 280px;
    object-fit: contain;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;

    justify-content: stretch;
    width: 100%;
}
    
.titulo-home {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.imagenes-home {
    grid-column: span 1;
}

.banner, .blogs-container {
    display: flex;
    flex-direction: column  ;
    gap: 15px;
}


@media (max-width: 768px) {

    .home-container {
        gap: 20px;
    }

    .titulo-home {
        grid-column: span 3;
        grid-row: auto;
        gap: 10px;
    }

    .imagenes-home {
        grid-column: span 3;
        grid-row: auto;
    }

    .destacados {
        width: 100%;
        min-height: 280px;
    }

    .destacados img {
        max-width: 100%;
        max-height: 260px;
        object-fit: contain;
    }
}
