.destacados {
    width: 50%;
    min-height: 300px;
    border: 2px solid black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.destacados img {
    max-width: 100%;
    max-height: 280px;
    object-fit: contain;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
}
    
.titulo-home {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
}

.imagenes-home {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
}
