.displayer-producto {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;

    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 10px;
}
    
.displayer-imagen {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
}

.displayer-imagen img {
    height: 650px;
    width: 650px;
}

.displayer-info {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;

    display: flex;
    flex-direction: column;
    flex: 1;

    gap: 10px;
}

.displayer-parecidos {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.parecidos {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.displayer-imagenes {
    grid-column: span 3 / span 3;
    grid-row-start: 5;
}