footer {
    background: #1e90ff;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
    border: 1px solid #000;
}


.Footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}

.div2 {
    display: flex; /*tipo de display que quiero que tenga*/
    flex-direction: row; /*sirev para dar direccion del flex*/
    padding:10px ;/* sirve que tan alejado quiero que este de los margenes*/
    gap: 50px; /*sirve para dar la distancia que quiero entre botones*/
}

.Footer h2 {
    font-size: 1.2rem;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding: 10px 16px;
    border-radius: 12px;
    border: 1px solid #fff; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 70%;
}
    

        