.contenedor-admin {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 30px   ;
}

.usuarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los ítems horizontalmente */
    align-items: flex-start; /* Alinea los ítems arriba */
    gap: 10px; /* Espaciado más amplio y armonioso */
  
    padding: 20px;
    border-radius: 8px;
}

.usuario {
    gap: 50px;
    padding: 10px;
    background-color: #d32c2c;
    border-radius: 10px;
}

.boton-admin-editar{
    background-color: #1e90ff;
}
.boton-admin-editar:hover{
    background-color: #0f6cd4;
    transform: scale(1.02);
}

.boton-admin-borrar{
    background-color: #f70000;
}
.boton-admin-borrar:hover{
    background-color: #ff0000;
    transform: scale(1.02);
}