.contenedor-admin {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.usuarios, .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  
    padding: 20px;
    border-radius: 8px;
}

.usuario {
    width: auto;
    height: auto;
    gap: 50px;
    padding: 10px;
    background-color: #d32c2c;
    border-radius: 10px;
}
.producto-admin {
    width: 500px;
    height: 700px;
    gap: 50px;
    padding: 10px;
    background-color: #d32c2c;
    border-radius: 10px;
}

.producto-admin img {
    height: 300px;
    width: 300px;
}

.boton-admin-editar{
    background-color: #1e90ff;
}
.boton-admin-editar:hover{
    background-color: #0f6cd4;
    transform: scale(1.02);
}

.boton-admin-borrar{
    background-color: #f70000;
}
.boton-admin-borrar:hover{
    background-color: #ff0000;
    transform: scale(1.02);
}