.sesion-header {
  position: relative;
  cursor: pointer;
}

.sesion-panel {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #d3d3d3;
  min-width: 175px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 10;
}

.sesion-panel p {
  color: black;
}

.sesion-panel p:hover {
  background-color: gray;
  cursor: pointer;
}

.sesion-header:hover .sesion-panel {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
